@model OnlineBookStoreUser.Models.Customers
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_ProfileUserLayout.cshtml";
}

<div class="col-md-3 col-md-3" style="float:left">
    <div class="list-group">
        <a class="list-group-item" asp-controller="Customers" asp-action="Profile" asp-route-id="@Model.CustomerId"><i class="glyphicon glyphicon-user" aria-hidden="true"></i>&nbsp; Profile</a>
        <a class="list-group-item" asp-controller="Customers" asp-action="Repository"><i class="glyphicon glyphicon-cloud" aria-hidden="true"></i>&nbsp; E-Book Repository </a>
        <a class="list-group-item" asp-controller="Customers" asp-action="ResetAddress"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i>&nbsp; Reset Address</a>
        <a class="list-group-item" asp-controller="Customers" asp-action="ResetPassword"><i class="glyphicon glyphicon-wrench" aria-hidden="true"></i>&nbsp; Reset Password</a>
        <a class="list-group-item" asp-controller="Cart" asp-action="Index"><i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>&nbsp; Cart</a>
        <a class="list-group-item" asp-controller="Customers" asp-action="OrderHistory"><i class="glyphicon glyphicon-tasks" aria-hidden="true"></i>&nbsp; Order</a>
    </div>
</div>




<div class="col-md-9 col-md-11">
    <div class="card mb-4 shadow-sm">

        <div class="card" align="justify" style="width: 800px;float:right">

            <div class="card-body">

                <li class="list-group-item"><p><h3><i class="glyphicon glyphicon-wrench" aria-hidden="true"></i>&nbsp;&nbsp;Reset Password</h3></p></li>


                <form asp-controller="Customers" asp-action="Edit">
                    <ul class="list-group list-group-flush">
                        @Html.HiddenFor(model => model.CustomerId)
                        @Html.HiddenFor(model => model.FirstName)
                        @Html.HiddenFor(model => model.LastName)
                        @Html.HiddenFor(model => model.UserName)
                        @Html.HiddenFor(model => model.Email)
                        @Html.HiddenFor(model => model.Address)
                        @Html.HiddenFor(model => model.ZipCode)
                        @Html.HiddenFor(model => model.Contact)
                        @Html.HiddenFor(model => model.ShippingAddress)


                        <li class="list-group-item">Old Password : <input type="password" asp-for="OldPassword" class="form-control" /></li>
                        <li class="list-group-item">New Password : <input type="password" asp-for="NewPassword" class="form-control" /></li>
                        <li class="list-group-item"><center>  <input type="submit" value="Reset Password" class="btn btn-primary" /></center></li>

                    </ul>



                </form>






            </div>
        </div>
    </div>




