@model coreBookStore.Models.Payment
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<br />
<h2>Details</h2>
<br />
<table class="table table-striped">

    <thead>
        <tr>
            <th><label for="PaymentId">Payment Id</label></th>
            <th><label for="StripePaymentId">Stripe Payment Id</label></th>
            <th><label for="PaymentAmount">Payment Amount</label></th>
            <th><label for="DateOfPayment">Date Of Payment</label></th>
            <th><label for="PaymentDescription">Payment Description</label></th>
            <th><label for="CardLastDigit">Card Last Digit</label></th>
            <th><label for="OrderId">Order Id</label></th>
            <th><label for="CustomerId"> Customer Id</label></th>

        </tr>
    </thead>

    <tbody>

        <tr>
            <td> @Html.DisplayFor(model => model.PaymentId)</td>
            <td> @Html.DisplayFor(model => model.StripePaymentId)</td>
            <td> @Html.DisplayFor(model => model.PaymentAmount)</td>
            <td> @Html.DisplayFor(model => model.DateOfPayment)</td>
            <td> @Html.DisplayFor(model => model.PaymentDescription)</td>
            <td> @Html.DisplayFor(model => model.CardLastDigit)</td>
            <td> @Html.DisplayFor(model => model.OrderId)</td>
            <td> @Html.DisplayFor(model => model.CustomerId)</td>

        </tr>

    </tbody>
</table>
<br />
<br />
<br />
<a asp-action="Index" asp-controller="Payment" class="btn btn-primary">Back To List</a>